Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Cors
flask-jwt-extended
Flask-Bcrypt
bcrypt
python-dotenv
psycopg2-binary
gunicorn

numpy
pandas
scikit-learn
scipy

requests
groq

PyPDF2
pdfplumber

joblib